{
  "name": "Bino",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "img/blog_img1.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":39587,\"newSize\":39554}}"
    },
    {
      "path": "img/statistics_bg.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":55859,\"newSize\":63629}}"
    },
    {
      "path": "img/blog_img4.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":93825,\"newSize\":94502}}"
    },
    {
      "path": "img/photography_img.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":609322,\"newSize\":609322}}"
    },
    {
      "path": "img/print_design_img.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":294934,\"newSize\":313687}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "css",
      "img"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/geek.zzz.com.ua/Bino",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "geek.zzz.com.ua",
      "port": 21,
      "user": "khrapin",
      "password": "khrapins1984"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "*.psd"
    ],
    "history": [
      {
        "file": "css/lightbox.css",
        "ctime": "2017-04-18T10:45:52.175Z",
        "mtime": "2017-04-18T10:45:52.175Z",
        "size": 3345
      },
      {
        "file": "css/style.css",
        "ctime": "2017-04-24T09:41:10.659Z",
        "mtime": "2017-04-24T09:41:10.659Z",
        "size": 47834
      },
      {
        "file": "css/style.css.map",
        "ctime": "2017-04-24T09:41:10.624Z",
        "mtime": "2017-04-24T09:41:10.624Z",
        "size": 21677
      },
      {
        "file": "css/wowslider.css",
        "ctime": "2017-04-20T16:24:25.476Z",
        "mtime": "2017-04-20T16:24:25.476Z",
        "size": 19772
      },
      {
        "file": "img/blog_img1.jpg",
        "ctime": "2017-04-21T09:18:27.957Z",
        "mtime": "2017-04-21T09:18:27.254Z",
        "size": 39587
      },
      {
        "file": "img/blog_img2.jpg",
        "ctime": "2017-04-21T09:20:08.072Z",
        "mtime": "2017-04-21T09:20:08.072Z",
        "size": 34944
      },
      {
        "file": "img/blog_img3.jpg",
        "ctime": "2017-04-21T09:22:22.609Z",
        "mtime": "2017-04-21T09:22:22.609Z",
        "size": 34927
      },
      {
        "file": "img/blog_img4.jpg",
        "ctime": "2017-04-21T09:38:24.314Z",
        "mtime": "2017-04-21T09:38:24.314Z",
        "size": 93825
      },
      {
        "file": "img/divider.png",
        "ctime": "2017-04-16T12:34:16.252Z",
        "mtime": "2017-04-16T12:32:45.477Z",
        "size": 163
      },
      {
        "file": "img/free_trial_bg.jpg",
        "ctime": "2017-04-20T13:12:20.347Z",
        "mtime": "2017-04-20T13:12:20.347Z",
        "size": 86850
      },
      {
        "file": "img/header_slide1.jpg",
        "ctime": "2017-04-16T12:34:16.255Z",
        "mtime": "2017-04-16T12:32:45.577Z",
        "size": 125602
      },
      {
        "file": "img/header_slide2.jpg",
        "ctime": "2017-04-16T12:34:16.259Z",
        "mtime": "2017-04-16T12:32:45.655Z",
        "size": 148059
      },
      {
        "file": "img/header_slide3.jpg",
        "ctime": "2017-04-16T12:34:16.262Z",
        "mtime": "2017-04-16T12:32:44.391Z",
        "size": 283156
      },
      {
        "file": "img/header_slide4.jpg",
        "ctime": "2017-04-16T12:34:16.265Z",
        "mtime": "2017-04-16T12:32:44.544Z",
        "size": 194328
      },
      {
        "file": "img/logo.png",
        "ctime": "2017-04-20T18:54:30.855Z",
        "mtime": "2017-04-16T12:32:44.721Z",
        "size": 693
      },
      {
        "file": "img/monitor.png",
        "ctime": "2017-04-16T12:34:16.271Z",
        "mtime": "2017-04-16T12:32:44.806Z",
        "size": 63192
      },
      {
        "file": "img/photography_img.jpg",
        "ctime": "2017-04-16T16:30:34.791Z",
        "mtime": "2017-04-16T12:32:45.380Z",
        "size": 544353
      },
      {
        "file": "img/portfolio_img1.jpg",
        "ctime": "2017-04-17T16:33:12.339Z",
        "mtime": "2017-04-17T16:33:12.339Z",
        "size": 25424
      },
      {
        "file": "img/portfolio_img2.jpg",
        "ctime": "2017-04-17T16:34:10.289Z",
        "mtime": "2017-04-17T16:34:10.289Z",
        "size": 56924
      },
      {
        "file": "img/portfolio_img3.jpg",
        "ctime": "2017-04-17T16:34:44.998Z",
        "mtime": "2017-04-17T16:34:44.998Z",
        "size": 28302
      },
      {
        "file": "img/portfolio_img4.jpg",
        "ctime": "2017-04-17T16:35:14.748Z",
        "mtime": "2017-04-17T16:35:14.748Z",
        "size": 46389
      },
      {
        "file": "img/portfolio_img5.jpg",
        "ctime": "2017-04-17T16:35:43.514Z",
        "mtime": "2017-04-17T16:35:43.514Z",
        "size": 41336
      },
      {
        "file": "img/portfolio_img6.jpg",
        "ctime": "2017-04-17T16:36:19.783Z",
        "mtime": "2017-04-17T16:36:19.783Z",
        "size": 40927
      },
      {
        "file": "img/portfolio_img7.jpg",
        "ctime": "2017-04-17T16:36:50.992Z",
        "mtime": "2017-04-17T16:36:50.992Z",
        "size": 42308
      },
      {
        "file": "img/portfolio_img8.jpg",
        "ctime": "2017-04-17T16:37:20.108Z",
        "mtime": "2017-04-17T16:37:20.108Z",
        "size": 40734
      },
      {
        "file": "img/print_design_img.jpg",
        "ctime": "2017-04-16T16:30:28.842Z",
        "mtime": "2017-04-16T12:32:45.115Z",
        "size": 294934
      },
      {
        "file": "img/section_divider.png",
        "ctime": "2017-04-17T17:14:21.257Z",
        "mtime": "2017-04-17T17:14:21.148Z",
        "size": 243
      },
      {
        "file": "img/statistics_bg.jpg",
        "ctime": "2017-04-19T14:46:44.937Z",
        "mtime": "2017-04-19T14:46:44.937Z",
        "size": 55859
      },
      {
        "file": "img/study_img.jpg",
        "ctime": "2017-04-18T14:58:23.918Z",
        "mtime": "2017-04-18T14:58:23.918Z",
        "size": 96252
      },
      {
        "file": "img/web_design_img.jpg",
        "ctime": "2017-04-16T16:30:21.852Z",
        "mtime": "2017-04-16T12:32:44.876Z",
        "size": 58259
      },
      {
        "file": "img/favicons/android-chrome-192x192.png",
        "ctime": "2017-04-20T19:06:35.016Z",
        "mtime": "2017-04-20T19:05:51.826Z",
        "size": 19618
      },
      {
        "file": "img/favicons/android-chrome-256x256.png",
        "ctime": "2017-04-20T19:06:35.026Z",
        "mtime": "2017-04-20T19:05:52.441Z",
        "size": 28832
      },
      {
        "file": "img/favicons/apple-touch-icon.png",
        "ctime": "2017-04-20T19:06:35.033Z",
        "mtime": "2017-04-20T19:05:52.256Z",
        "size": 13828
      },
      {
        "file": "img/favicons/browserconfig.xml",
        "ctime": "2017-04-20T19:06:35.040Z",
        "mtime": "2017-04-20T19:05:52.560Z",
        "size": 258
      },
      {
        "file": "img/favicons/favicon-16x16.png",
        "ctime": "2017-04-20T19:06:35.053Z",
        "mtime": "2017-04-20T19:05:51.498Z",
        "size": 1108
      },
      {
        "file": "img/favicons/favicon-32x32.png",
        "ctime": "2017-04-20T19:06:35.056Z",
        "mtime": "2017-04-20T19:05:52.106Z",
        "size": 2135
      },
      {
        "file": "img/favicons/favicon.ico",
        "ctime": "2017-04-20T19:06:35.046Z",
        "mtime": "2017-04-20T19:05:52.061Z",
        "size": 15086
      },
      {
        "file": "img/favicons/manifest.json",
        "ctime": "2017-04-20T19:06:35.060Z",
        "mtime": "2017-04-20T19:05:52.367Z",
        "size": 427
      },
      {
        "file": "img/favicons/mstile-150x150.png",
        "ctime": "2017-04-20T19:06:35.064Z",
        "mtime": "2017-04-20T19:05:51.641Z",
        "size": 12358
      },
      {
        "file": "img/favicons/safari-pinned-tab.svg",
        "ctime": "2017-04-20T19:06:35.067Z",
        "mtime": "2017-04-20T19:05:52.005Z",
        "size": 600
      },
      {
        "file": "img/lightbox/loading.gif",
        "ctime": "2017-04-18T13:27:30.861Z",
        "mtime": "2017-04-18T07:50:45.692Z",
        "size": 8476
      },
      {
        "file": "img/lightbox/next.png",
        "ctime": "2017-04-18T09:26:19.065Z",
        "mtime": "2017-04-18T07:50:45.739Z",
        "size": 1350
      },
      {
        "file": "img/lightbox/prev.png",
        "ctime": "2017-04-18T09:26:19.078Z",
        "mtime": "2017-04-18T07:50:45.786Z",
        "size": 1360
      },
      {
        "file": "index.html",
        "ctime": "2017-04-22T17:08:32.773Z",
        "mtime": "2017-04-22T17:08:32.773Z",
        "size": 23057
      },
      {
        "file": "js/lightbox.js",
        "ctime": "2017-04-18T10:46:58.414Z",
        "mtime": "2017-04-18T10:46:58.414Z",
        "size": 18206
      },
      {
        "file": "js/script.js",
        "ctime": "2017-04-22T16:04:57.744Z",
        "mtime": "2017-04-22T16:04:57.744Z",
        "size": 7404
      },
      {
        "file": "js/wowslider/script.js",
        "ctime": "2017-04-14T13:58:08.666Z",
        "mtime": "2017-04-14T13:56:31.422Z",
        "size": 2620
      },
      {
        "file": "js/wowslider/wowslider.js",
        "ctime": "2017-04-20T16:44:48.029Z",
        "mtime": "2017-04-20T16:44:48.029Z",
        "size": 25841
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\"],\"sourceMap\":true,\"output\":{\"replaceSegments\":[\"scss\"],\"replaceSegmentsWith\":\"css/style.css\"},\"compiler-node-sass\":{\"outputStyle\":\"expanded\"},\"compiler-cssnext\":{\"enabled\":false},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}